

* {
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
}

body {
    background-color: #f5f7fa;
}

header {
    background-color: #1e3a8a; /* azul */
    color: white;
    padding: 20px 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    height: 70vh;
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    color: #f5f7fa;
}

.hero-content{
    max-width: 600px;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p{
    font-size: 18px;
}

.btn-hero {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #ff7a00;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.btn-hero:hover {
    background-color: #e66d00;
}

.features {
    padding: 60px 40px;
    text-align: center;
}

.features h2 {
    margin-bottom: 40px;
    font-size: 32px;
}

.features-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.feature-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 250px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.feature-card h3 {
    margin-bottom: 10px;
}